:host {
  display: flex;
  flex-direction: column;
  font-synthesis: none;
  height: 100%;
  justify-content: center;
  //text-align: center;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  > router-outlet {
    flex-grow: 1;
  }
}
